
@{
    ViewData["Title"] = "Employee";
}


<!-- Main row -->
<div class="row">
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <h2>Employee Information</h2>
                </div>
            </div>
        </div>
    </section>
</div>

